<a href="https://colab.research.google.com/github/SaidAkhmedNazhaev/Basics-of-Programming/blob/main/4lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [ ]:
x = int(input("x="))

if x >= 0:
  f = (x**(1/2))+(x**2)
else:
  f = 1/x

print('Получившийся результат:', round(f, 2))

x=9
Получившийся результат: 84.0

2

In [ ]:
a1 = int(input("Введите певрвое целое число:"))
a2 = int(input("Введите второе целое число:"))

if a1 == a2:
  print("Числа одинаковы.")
else:
  if a1 > a2:
    print("Максимум:", a1, "Минимум:", a2)
  else:
      print("Максимум:", a2, "Минимум:", a1)

Введите певрвое целое число:9
Введите второе целое число:99
Максимум: 99 Минимум: 9

3

In [1]:
x = int(input("Введите координату x:"))
y = int(input("Введите координату y:"))

if (x>0 and y>0):
  print("Точка находится в 1-й четверти.")
if (x<0 and y>0):
  print("Точка находится в 2-й четверти.")
if (x<0 and y<0):
  print("Точка находится в 3-й четверти.")
if (x>0 and y<0):
  print("Точка находится в 4-й четверти.")
if (x==0 and y==0):
  print("Точка находится на пересечении осей x и y.")
if (x==0):
  print("Точка находится на оси x.")
if (y==0):
  print("Точка находится на оси y.")

Введите координату x:9
Введите координату y:9
Точка находится в 1-й четверти.

4

In [ ]:
a = float(input("Введите значение a:"))
b = float(input("Введите значение b:"))
c = float(input("Введите значение c:"))

d = ((b**2)-(4*a*c))
if d < 0:
  print("Нет решения.")
elif d == 0:
  x1 = ((-1*b)/2*a)
  print("x =", x1)
elif d > 0:
  x1 = (((-1*b)+(d**(1/2))/2*a))
  x2 = (((-1*b)+(d**(1/2))/2*a))
  print("x1 =", x1, "x2",x2)

Введите значение a:9
Введите значение b:9
Введите значение c:9
Нет решения.

5

In [ ]:
x = int(input("Введите первое целое число:"))
n = list()

while x!=0:
  n.append(x)
  x = int(input("Введите дополнительное число:"))
  
print("Сумма =", sum(n))
print("Количество =", len(n))

Введите первое целое число:9
Введите дополнительное число:6
Введите дополнительное число:6
Введите дополнительное число:6
Введите дополнительное число:6
Введите дополнительное число:0
Сумма = 33
Количество = 5

6

In [ ]:
n = int(input("Введите число n:"))

g = 0
print("0")

while g <= n:
  g = g+5
  if g < n:
    print(g)
  else:
    break

Введите число n:9
0
5

7

In [ ]:
a = float(input("Введите вещенственное число:"))

n = 1
x_sum = list()
x_sum.append(n)

while sum(x_sum)<=a:
  n = n+1
  g = 1/n
  x_sum.append(g)

print(n)

Введите вещенственное число:9.9
11190

8

In [ ]:
n = list(map(int, input("Введите целое натуральное число:")))

n_sum = sum(n)
n_count = len(n)

print("Сумма:", n_sum)
print("Количество:", n_count)

Введите целое натуральное число:999
Сумма: 27
Количество: 3

9

In [ ]:
a = int(input("Введите первое число:"))
b = int(input("Введите второе число:"))

ls = list(range(a, b+1, 1))
print(ls)

ls.reverse()
print("\n".join(map(str, ls)))

Введите первое число:0
Введите второе число:9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
8
7
6
5
4
3
2
1
0

10

In [2]:
n = int(input('Введите значение предполагаемого числа: '))

f1 = 1
f2 = 1
k = 1

while n!=f1:
    if n<f1:
        print('Не является.')
        break
    else:
        k = f1
        f1 += f2
        f2 = k
else:
    print('Является.')

Введите значение предполагаемого числа: 9
Не является.

11

In [9]:
n = int(input('Введите целое число: '))

for x in range(1, n+1):
    for y in range(1, n+1):
        print(f'{x} * {y} = {x * y}\t', end=' ')
    print('')

Введите целое число: 3
1 * 1 = 1	 1 * 2 = 2	 1 * 3 = 3
2 * 1 = 2	 2 * 2 = 4	 2 * 3 = 6
3 * 1 = 3	 3 * 2 = 6	 3 * 3 = 9

12

In [7]:
k = int(input('Введите целое число: '))

for x in range(1, 31):
    for y in range(1, 31):
        for z in range(1, 31):
            if x*x+y*y+z*z==k*k:
                print(f'x = {x}, y = {y}, z = {z}')

Введите целое число: 18
x = 2, y = 8, z = 16
x = 2, y = 16, z = 8
x = 6, y = 12, z = 12
x = 8, y = 2, z = 16
x = 8, y = 8, z = 14
x = 8, y = 14, z = 8
x = 8, y = 16, z = 2
x = 12, y = 6, z = 12
x = 12, y = 12, z = 6
x = 14, y = 8, z = 8
x = 16, y = 2, z = 8
x = 16, y = 8, z = 2