<a href="https://colab.research.google.com/github/SaidAkhmedNazhaev/Basics-of-Programming/blob/main/tesk_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

№1.

![2.png]()

In [5]:
x = int(input())

if x >= 0:
    f = (x**(1/2))+(x**2)
else:
    f = 1/x

print('Получившийся результат:', round(f, 2))

9
Получившийся результат: 84.0

№2.

In [6]:
a1 = int(input('Введите первое целое число.'))
a2 = int(input('Введите второе целое число.'))

if a1 == a2:
    print('Числа одинаковы.')
else:
    if a1 > a2:
        print('Максимум:', a1, 'Минимум:', a2)
    else:
        print('Максимум:', a2, 'Минимум:', a1)

Введите первое целое число.9
Введите второе целое число.9
Числа одинаковы.

№3.

In [8]:
a = int(input('Введите значение ширины форточки:'))
h = int(input('Введите значение высоты форточки:'))
d = int(input('Введите значение диаметра головы мальчика:'))

if ((a or h or d) < 0):
    print('Ошибка. Невозможно выполнить скрипт. Вы ввели отрицательное значение.')
else:
    if ((a - 1 >= d) and (h - 1 >= d)):
        print('Да.')
    else:
        print('Нет.')

Введите значение ширины форточки:99
Введите значение высоты форточки:999
Введите значение диаметра головы мальчика:99
Нет.

4

In [9]:
y_today = int(input('Введите текущий год:'))
m_today = int(input('Введите текущий месяц:'))

y_need = int(input('Введите год рождения:'))
m_need = int(input('Введите месяц рождения:'))

age = y_today - y_need

if (m_today or m_need) <= 0:
    print('Невозможно выполнить скрипт.')
else:
    if m_need > m_today:
        print('Число полных лет:', age-1)
    else:
        print('Число полных лет:', age)

Введите текущий год:2022
Введите текущий месяц:9
Введите год рождения:2002
Введите месяц рождения:6
Число полных лет: 20

5

In [10]:
x = int(input('Введите значение x:'))
y = int(input('Введите значение y:'))

if (x > 0 and y > 0):
    print('Точка находится в 1-й четверти.')
elif (x < 0 and y > 0):
    print('Точка находится во 2-й четверти.')
elif (x < 0 and y < 0):
    print('Точка находится в 3-й четверти.')
elif (x > 0 and y < 0):
    print('Точка находится в 4-й четверти.')
elif (x == 0 and y == 0):
    print('Точка находится на пересечении осей x и y.')
elif x == 0:
    print('Точка находится на оси x.')
elif y == 0:
    print('Точка находится на оси y.')

Введите значение x:9
Введите значение y:9
Точка находится в 1-й четверти.

6

In [13]:
a = float(input('Введите значение a:'))
b = float(input('Введите значение b:'))
c = float(input('Введите значение c:'))

d = ((b ** 2) - (4 * a * c))
if d < 0:
    print('Нет решения.')
elif d == 0:
    x1 = (( -1 * b) / 2 * a)
    print('x =', x1)
elif d > 0:
    x2 = (((-1 * b) + (d ** (1 / 2))) / 2 * a)
    x1 = (((-1 * b) - (d ** (1 / 2))) / 2 * a)
    print('x1 =',x1,'x2 =',x2)

Введите значение a:6.9
Введите значение b:9.9
Введите значение c:9.6
Нет решения.

7

In [16]:
x = int(input('Введите первое целое число:'))
n = list()

while x != 0:
    n.append(x)
    x = int(input('Введите дополнительное число:'))

print('Количество = ', len(n))
print('Сумма = ',sum(n))

Введите первое целое число:9
Введите дополнительное число:9
Введите дополнительное число:9
Введите дополнительное число:0
Количество =  3
Сумма =  27

8

In [17]:
n = int(input('Введите число n: '))

g = 0
print('0')

while g<=n:
    g = g+5
    if g<n:
      print(g)
    else:
      break

Введите число n: 9
0
5

9

![3.png]()

In [19]:
a = float(input('Введите вещественное число: '))

n = 1
x_sum = list()
x_sum.append(n)

while sum(x_sum)<=a:
    n = n+1
    g = 1/n
    x_sum.append(g)

print(n)

Введите вещественное число: 9.9
11190

10

In [20]:
n = list(map(int, input('Введите целое натуральное число: ')))

n_sum = sum(n)
n_count = len(n)

print('Сумма: ', n_sum)
print('Количество: ', n_count)

Введите целое натуральное число: 9
Сумма:  9
Количество:  1

11

In [26]:
start = int(input('Введите значение левой границы: '))
k = int(input('Введите цифру, на которую будут заканчиваться числа: '))
s = int(input('Введите цифру, которой будут кратны числа: '))

need = list()

while start%s!=0:
    start += 1
else:
    for x in range(99):
        start += 1
        while start%s!=0:
            start += 1
        else:
            if start%10==k:
                need.append(start)

print(need[:10])

Введите значение левой границы: 99
Введите цифру, на которую будут заканчиваться числа: 9
Введите цифру, которой будут кратны числа: 9
[189, 279, 369, 459, 549, 639, 729, 819, 909]

12

In [27]:
a = int(input('Введите первое число: '))
b = int(input('Введите второе число: '))

ls = list(range(a,b+1,1))
print(ls)

ls.reverse()
print("\n".join(map(str, ls)))

Введите первое число: 9
Введите второе число: 9
[9]
9

13

In [28]:
a = int(input('Введите первое число: '))
b = int(input('Введите второе число: '))

ls = list(range(a,b+1,1))
n_sum = sum(ls)

n_mult = 1
a = 0
while a<len(ls):
    n_mult = n_mult*ls[a]
    a += 1

n_avg = n_sum/len(ls)

print("Сумма = ", n_sum)
print("Произведение = ", n_mult)
print("Среднее арифметическое = ", n_avg)

b = 0
c = 0
n_avg_geom = 1
while b<len(ls):
    if ls[b]%2==1:
        n_avg_geom = n_avg_geom*ls[b]
        b += 2
        c += 1
    else:
        b += 1


n_avg_geom = round((n_avg_geom**(1/c)),2)

print("Среднее геометрическое нечетных чисел = ", n_avg_geom)

Введите первое число: 9
Введите второе число: 9
Сумма =  9
Произведение =  9
Среднее арифметическое =  9.0
Среднее геометрическое нечетных чисел =  9.0

14

In [29]:
s = float(input('Введите кол-во км в первый день: '))
p = float(input('Введите процент увеличения нагрузки: '))

tot = list()
tot.append(s)

g = 0
f = 1
for x in range(9):
    s = ((s*(p/100))+s)+0.0001
    f += 1
    tot.append(s)
    print('Пробег за',f,'день: ', round(s,1), 'км.')

total = sum(tot)
print("Суммарный пробег: ", round(total,1))

Введите кол-во км в первый день: 9.9
Введите процент увеличения нагрузки: 9.9
Пробег за 2 день:  10.9 км.
Пробег за 3 день:  12.0 км.
Пробег за 4 день:  13.1 км.
Пробег за 5 день:  14.4 км.
Пробег за 6 день:  15.9 км.
Пробег за 7 день:  17.4 км.
Пробег за 8 день:  19.2 км.
Пробег за 9 день:  21.1 км.
Пробег за 10 день:  23.2 км.
Суммарный пробег:  157.0

15

In [31]:
p = int(input('Введите грузоподъемность грузовика (кг.): '))
n = int(input('Введите количество предметов (шт.): '))

amount = list()

for x in range(n):
    f = int(input('Введите массу предмета (кг.):'))
    amount.append(f)

if sum(amount)>=p:
    print('Нет.')
else:
    print('Да.')

Введите грузоподъемность грузовика (кг.): 10
Введите количество предметов (шт.): 2
Введите массу предмета (кг.):3
Введите массу предмета (кг.):3
Да.

16

In [33]:
n = int(input('Введите количество районов: '))

total = list()
for x in range(n):
    s = float(input('Введите площадь района (га): '))
    p = float(input('Введите урожайность в районе (ц/га.): ')) 
    g = p*s
    total.append(g)

print(round(sum(total), 1))

Введите количество районов: 3
Введите площадь района (га): 2
Введите урожайность в районе (ц/га.): 4
Введите площадь района (га): 5
Введите урожайность в районе (ц/га.): 2
Введите площадь района (га): 1
Введите урожайность в районе (ц/га.): 6
24.0

17

In [35]:
nums_sum = 0
nums_count = 0

x = int(input('Введите число. '))
a = list()

while x!=0:
    nums_count = nums_count+1
    a.append(x)
    nums_sum = nums_sum+x
    x = int(input('Введите новое число. '))
    if x==0:
        break

print('Сумма = ', nums_sum)
print('Количество = ',nums_count)

Введите число. 9
Введите новое число. 9
Введите новое число. 9
Введите новое число. 0
Сумма =  27
Количество =  3

18

In [37]:
sentence = input('Введите предложение: ')

gl = 0
sogl = 0
probel = 0

for x in sentence:
    sth = x.lower()
    if sth == "а" or sth == "я" or sth == "у" or\
      sth == "ю" or sth == "о" or sth == "е" or\
      sth == "ё" or sth == "э" or sth == "и" or\
      sth == "ы":
      gl += 1
    elif sth == " ":
      probel += 1
    else:
      sogl += 1

s1 = "Гласных"
s2 = "Согласных"
print('Кол-во букв в предложении: ', "{} {}, {} {}".format(s1, gl, s2, sogl))

Введите предложение: Да я программист.
Кол-во букв в предложении:  Гласных 5, Согласных 10

19

In [38]:
a = int(input("Введите первое число: "))
b = int(input("Введите второе число: "))
c = int(input("Введите третье число: "))

g = list()

for y in range(a,b+1):
    if y%c==0:
        g.append(y)

print(g)

Введите первое число: 9
Введите второе число: 9
Введите третье число: 9
[9]

20

In [39]:
n = int(input('Введите число: '))

g = list()

for x in range(100, 1000):
    a = sum(int(e) for e in str(x))
    if a==n:
        g.append(x)

print(g)

Введите число: 9
[108, 117, 126, 135, 144, 153, 162, 171, 180, 207, 216, 225, 234, 243, 252, 261, 270, 306, 315, 324, 333, 342, 351, 360, 405, 414, 423, 432, 441, 450, 504, 513, 522, 531, 540, 603, 612, 621, 630, 702, 711, 720, 801, 810, 900]

21

In [43]:
n = int(input('Введите количество учеников: '))

a = 0
b = 0
c = 0
f = 1

for x in range(n):
    rost = int(input('Введите значение роста ученика: '))
    f += 1
    if rost<0:
        a += 1
        b -= rost
    else:
        c += rost

r_sr_m = b / a
r_sr_d = c / (n - a)

print("Средний рост мальчиков: {:.1f}".format(r_sr_m))
print("Средний рост девочек: {:.1f}".format(r_sr_d))

Введите количество учеников: 3
Введите значение роста ученика: 150
Введите значение роста ученика: -150
Введите значение роста ученика: 169
Средний рост мальчиков: 150.0
Средний рост девочек: 159.5

22

In [49]:
n = int(input('Введите значение целого числа: '))

g = list()

for x in range(n):
    a = float(input('Введите значение вещественного числа: '))
    g.append(a)

f = max(g)
k = min(g)

print("Максимум: {:.2f}".format(f))
print("Минимум: {:.2f}".format(k))

Введите значение целого числа: 3
Введите значение вещественного числа: 3.3
Введите значение вещественного числа: 6.6
Введите значение вещественного числа: 9.9
Максимум: 9.90
Минимум: 3.30

23

In [50]:
n = int(input('Введите значение предполагаемого числа: '))

f1 = 1
f2 = 1
k = 1

while n!=f1:
    if n<f1:
        print('Не является.')
        break
    else:
        k = f1
        f1 += f2
        f2 = k
else:
    print('Является.')

Введите значение предполагаемого числа: 9
Не является.

24

In [51]:
n = int(input('Введите количество чисел: '))
g = []

for x in range(1, n+1):
  a = float(input(f'{x}-е число = '))
  g.append(a)

f = bool()
for x in range(1,n):
  if g[x-1] >=g[x]:
    f = False
    break
  else:
    f = True
if f == True:
  print('Является')
else:
  print(x)

Введите количество чисел: 3
1-е число = 3
2-е число = 6
3-е число = 9
Является

25

In [52]:
n = int(input('Введите целое число: '))

for x in range(1, n+1):
    for y in range(1, n+1):
        print(f'{x} * {y} = {x * y}\t', end=' ')
    print('')

Введите целое число: 9
1 * 1 = 1	 1 * 2 = 2	 1 * 3 = 3	 1 * 4 = 4	 1 * 5 = 5	 1 * 6 = 6	 1 * 7 = 7	 1 * 8 = 8	 1 * 9 = 9
2 * 1 = 2	 2 * 2 = 4	 2 * 3 = 6	 2 * 4 = 8	 2 * 5 = 10	 2 * 6 = 12	 2 * 7 = 14	 2 * 8 = 16	 2 * 9 = 18
3 * 1 = 3	 3 * 2 = 6	 3 * 3 = 9	 3 * 4 = 12	 3 * 5 = 15	 3 * 6 = 18	 3 * 7 = 21	 3 * 8 = 24	 3 * 9 = 27
4 * 1 = 4	 4 * 2 = 8	 4 * 3 = 12	 4 * 4 = 16	 4 * 5 = 20	 4 * 6 = 24	 4 * 7 = 28	 4 * 8 = 32	 4 * 9 = 36
5 * 1 = 5	 5 * 2 = 10	 5 * 3 = 15	 5 * 4 = 20	 5 * 5 = 25	 5 * 6 = 30	 5 * 7 = 35	 5 * 8 = 40	 5 * 9 = 45
6 * 1 = 6	 6 * 2 = 12	 6 * 3 = 18	 6 * 4 = 24	 6 * 5 = 30	 6 * 6 = 36	 6 * 7 = 42	 6 * 8 = 48	 6 * 9 = 54
7 * 1 = 7	 7 * 2 = 14	 7 * 3 = 21	 7 * 4 = 28	 7 * 5 = 35	 7 * 6 = 42	 7 * 7 = 49	 7 * 8 = 56	 7 * 9 = 63
8 * 1 = 8	 8 * 2 = 16	 8 * 3 = 24	 8 * 4 = 32	 8 * 5 = 40	 8 * 6 = 48	 8 * 7 = 56	 8 * 8 = 64	 8 * 9 = 72
9 * 1 = 9	 9 * 2 = 18	 9 * 3 = 27	 9 * 4 = 36	 9 * 5 = 45	 9 * 6 = 54	 9 * 7 = 63	 9 * 8 = 72	 9 * 9 = 81

26

In [53]:
n = int(input('Введите число: '))

for f in range(2,n+1):
    a = 2
    g = 2
    while (g*g<=f):
        if f%g==0:
            a += 1
            b = f//g
            if b != g:
                a += 1
        g += 1
        
    print(f,a*"*")

Введите число: 9
2 **
3 **
4 ***
5 **
6 ****
7 **
8 ****
9 ***

27

In [55]:
n = int(input('Введите целое число: '))*3
a = 1
g = list()

for x in range(1, n+1):
    c = 0
    for y in range(1, a+1):
        b = a % y
        if b == 0:
            c = c + 1
    if c == 2:
        g.append(a)
    else:
        x = x - 1
    a = a + 1

print(g[:n])

Введите целое число: 9
[2, 3, 5, 7, 11, 13, 17, 19, 23]

28

In [56]:
k = int(input('Введите целое число: '))

for x in range(1, 31):
    for y in range(1, 31):
        for z in range(1, 31):
            if x*x+y*y+z*z==k*k:
                print(f'x = {x}, y = {y}, z = {z}')

Введите целое число: 9
x = 1, y = 4, z = 8
x = 1, y = 8, z = 4
x = 3, y = 6, z = 6
x = 4, y = 1, z = 8
x = 4, y = 4, z = 7
x = 4, y = 7, z = 4
x = 4, y = 8, z = 1
x = 6, y = 3, z = 6
x = 6, y = 6, z = 3
x = 7, y = 4, z = 4
x = 8, y = 1, z = 4
x = 8, y = 4, z = 1